In [1]:
# load required libraries
import pandas as pd

In [7]:
# import file to work on
inventory_df = pd.read_csv('Resources/BM_products.csv')
inventory_df.head()

,SKU,Product Name,French Description,Category,French Category Name\r\n,num_of_inv,Line,Color,Size,Volume,Product UPC,MSRP,MAP,NET Price,List Price,Brand Code,Brand Discount Y/N,Brand Discount,Attention: Net Price Change,Attention: New Catalog SKU
0,001500-001,WOODLUXE STAIN REM,{N/A},WOODLUXE EXTERIOR STAINS,TEINTURES D EXTERIEUR WOODLUXE,30,00015,00,1,quart,23906916923,$41.99,NaN,$29.16,$29.75,BMC,Y,-1.25%,N,N
1,001600-001,WOODLUXE RESTORE -,{N/A},WOODLUXE EXTERIOR STAINS,TEINTURES D EXTERIEUR WOODLUXE,30,00016,00,1,quart,23906916930,$34.99,NaN,$24.03,$24.52,BMC,Y,-1.25%,N,N
2,001700-001,WOODLUXE BR-NEU,{N/A},WOODLUXE EXTERIOR STAINS,TEINTURES D EXTERIEUR WOODLUXE,42,00017,00,1,quart,23906916947,$33.99,NaN,$22.11,$22.56,BMC,Y,-1.25%,N,N
3,001800-001,WOODLUXE CLEAN,{N/A},WOODLUXE EXTERIOR STAINS,TEINTURES D EXTERIEUR WOODLUXE,5,00018,00,1,quart,23906916954,$34.99,NaN,$21.69,$22.13,BMC,Y,-1.25%,N,N
4,003200-001,FS INT ALK PRIMER -WHITE,{N/A},FRESH START PRIMERS,APPRETS AVANT PREMIERE,24,00032,00,1,quart,23906767907,NaN,NaN,$34.12,$39.52,BMP,Y,-13%,N,N

In [8]:
# trim file down to required colums for use
target_invetory_df = inventory_df[['Product Name', 'num_of_inv', 'Volume', 'List Price']]
target_invetory_df.head()

               Product Name  num_of_inv Volume List Price
0        WOODLUXE STAIN REM          30  quart     $29.75
1        WOODLUXE RESTORE -          30  quart     $24.52
2           WOODLUXE BR-NEU          42  quart     $22.56
3            WOODLUXE CLEAN           5  quart     $22.13
4  FS INT ALK PRIMER -WHITE          24  quart     $39.52

In [9]:
# clean data in file for use with speech
target_invetory_df = target_invetory_df.rename(columns={'Product Name': 'product', 'num_of_inv': 'inventory', 'Volume': 'volume', 'List Price': 'price'})
target_invetory_df.head()

                    product  inventory volume   price
0        WOODLUXE STAIN REM         30  quart  $29.75
1        WOODLUXE RESTORE -         30  quart  $24.52
2           WOODLUXE BR-NEU         42  quart  $22.56
3            WOODLUXE CLEAN          5  quart  $22.13
4  FS INT ALK PRIMER -WHITE         24  quart  $39.52

In [10]:
# output modified file into csv for use with speech bot
target_invetory_df.to_csv('Resources/final_inventory.csv', index= False)